/* Kevin */

/* Darrell */

/* Mamoon- */
.contact_us {
  display: flex;
  gap: 10px;
}
.contact_left {
  width: 50%;
  padding: 2%;
}
.enter {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.main_contact p {
  text-align: left;

  padding-top: 7%;
}

.contact_right {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;

  flex-wrap: nowrap;
}
#zara {
}
.inner_conact {
  display: flex;
  gap: 50px;
}
.col1 {
}
.col2 {
}

.contact_right img {
  margin-top: 2%;

  display: flex;
}
.imgs {
  padding-top: 20%;
  padding-bottom: 50%;
}
